# Managed by Pulumi. Any edits to this file will be overwritten.

name: Add issues and PRs to MeltanoLabs Overview Project

on:
  issues:
    types:
      - opened
      - reopened
      - transferred
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/MeltanoLabs/projects/3
          github-token: ${{ secrets.MELTYBOT_PROJECT_ADD_PAT }}
